* {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0.5em;
}

p {
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  padding-left: 10%;
  padding-right: 10%;
}

body {
  background-color: #fff6e8;
}
