* {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  padding-bottom: 0.5em;
}

p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
}

body {
  top: 0;
  left: 0;
  width: 99%;
  height: 97%;
  position: absolute;
  display: table;
  background-color: #fff6e8;
}
