
h1 {
  text-align: center;
}

i {
  padding: 2%;
}

p {
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.header {
  font-size: 1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
}

#homeimage {
  height: auto;
  padding: 20px;
}

body {
  background-color: #fff6e8;
}

.footer {
  display: block;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
