body {
  background-color: #fff6e8;
}
* {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0.5em;
}

p {
  font-size: 1.2em;
  line-height: 2em;
}
