h1 {
  text-align: center;
  padding: 1em;
}

ul {
  list-style-position: inside;
  font-size: 1.2em;
  line-height: 2em;
}

i {
  padding: 1%;
}

p {
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

img {
  height: auto;
  padding: 20px;
}

body {
  background-color: #fff6e8;
}
