
h1 {
  padding-bottom: 0.5em;
}

p {
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

body {
  background-color: #fff6e8;
}
h2 {
  padding-left: 10%;
}

ul {
  padding-left: 10%;
}
