body {
  background-color: #fff6e8;
}

iframe {
  width: 80%;
  height: 800px;
  margin: 0 auto;
  display: block;
  border: 1px solid black;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

* {
  font-family: "Open Sans", sans-serif;
}
